<!DOCTYPE html>
<html>
    <head>
      <title>Buy5C</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

      <!-- Bootstrap -->
      <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body background-image: "../img/grid.png";>


    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{{/}}">Buy5C</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              <a href="{{/login}}" class="navbar-link">Log In</a>
            </p>
            <ul class="nav">
              <li class="active">
                <form class="navbar-search pull-left">
                  <input type="text" class="search-query" placeholder="Search">
                </form></li>
              <li><a href="#about">Sell</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Select Category</li>
              <li class="active"><a href="{{ url_for('index') }}">Everything</a></li>
              <li><a href="{{ url_for('a_a') }}">Apparel/Accesories</a></li>
              <li><a href="{{ url_for('appliances') }}">Appliances</a></li>
              <li><a href="{{ url_for('books') }}">Books</a></li>
              <li><a href="{{ url_for('electronics') }}">Electronics</a></li>
              <li><a href="{{ url_for('furniture') }}">Furniture</a></li>
              <li><a href="{{ url_for('mmg') }}">Movies, Music, Games</a></li>
              <li><a href="{{ url_for('tickets') }}">Tickets</a></li>
              <li><a href="{{ url_for('other') }}">Other</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="row-fluid">
            <div class="span4" position=relative>
              <div class="thumbnail">
                <img data-src="holder.js/300x200" alt="">
                <h3>Thumbnail label</h3>
                <p>Thumbnail caption...</p>
              </div>
              <p align=center><a class="listing_name" href="{{ get_url[listing] }}">View details</a></p>
            </div><!--/span-->


            
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>


    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    

  </body>
</html>