{% extends "header.html" %}
{% block content %}

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Select Category</li>
              <li class="active"><a href="{{ url_for('index') }}">Everything</a></li>
              <li><a href="{{ url_for('a_a') }}">Apparel/Accesories</a></li>
              <li><a href="{{ url_for('appliances') }}">Appliances</a></li>
              <li><a href="{{ url_for('books') }}">Books</a></li>
              <li><a href="{{ url_for('electronics') }}">Electronics</a></li>
              <li><a href="{{ url_for('furniture') }}">Furniture</a></li>
              <li><a href="{{ url_for('mmg') }}">Movies, Music, Games</a></li>
              <li><a href="{{ url_for('tickets') }}">Tickets</a></li>
              <li><a href="{{ url_for('other') }}">Other</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="row-fluid">
              <div class="thumbnail">
                <img src="http://www.placekitten.com/200/150" alt="listing">
                <p align=center><a class="listing_name" href="{{ url_for('listing') }}">Stupid Cat</a></p>
              </div>
              <div class="thumbnail">
                <img src="http://www.placekitten.com/200/150" alt="listing">
                <p align=center><a class="listing_name" href="{{ url_for('listing') }}">Stupid Cat</a></p>
              </div>
              <div class="thumbnail">
                <img src="http://www.placekitten.com/200/150" alt="listing">
                <p align=center><a class="listing_name" href="{{ url_for('listing') }}">Stupid Cat</a></p>
              </div>
              <div class="thumbnail">
                <img src="http://www.placekitten.com/200/150" alt="listing">
                <p align=center><a class="listing_name" href="{{ url_for('listing') }}">Stupid Cat</a></p>
              </div>
              <div class="thumbnail">
                <img src="http://www.placekitten.com/200/150" alt="listing">
                <p align=center><a class="listing_name" href="{{ url_for('listing') }}">Stupid Cat</a></p>
              </div>
              <div class="thumbnail">
                <img src="http://www.placekitten.com/200/150" alt="listing">
                <p align=center><a class="listing_name" href="{{ url_for('listing') }}">Stupid Cat</a></p>
              </div>
              <div class="thumbnail">
                <img src="http://www.placekitten.com/200/150" alt="listing">
                <p align=center><a class="listing_name" href="{{ url_for('listing') }}">Stupid Cat</a></p>
              </div>
              <div class="thumbnail">
                <img src="http://www.placekitten.com/200/150" alt="listing">
                <p align=center><a class="listing_name" href="{{ url_for('listing') }}">Stupid Cat</a></p>
              </div>
              <div class="thumbnail">
                <img src="http://www.placekitten.com/200/150" alt="listing">
                <p align=center><a class="listing_name" href="{{ url_for('listing') }}">Stupid Cat</a></p>
              </div>
              <div class="thumbnail">
                <img src="http://www.placekitten.com/200/150" alt="listing">
                <p align=center><a class="listing_name" href="{{ url_for('listing') }}">Stupid Cat</a></p>
              </div>
              <div class="thumbnail">
                <img src="http://www.placekitten.com/200/150" alt="listing">
                <p align=center><a class="listing_name" href="{{ url_for('listing') }}">Stupid Cat</a></p>
              </div>
              <div class="thumbnail">
                <img src="http://www.placekitten.com/200/150" alt="listing">
                <p align=center><a class="listing_name" href="{{ url_for('listing') }}">Stupid Cat</a></p>
              </div>
              <div class="thumbnail">
                <img src="http://www.placekitten.com/200/150" alt="listing">
                <p align=center><a class="listing_name" href="{{ url_for('listing') }}">Stupid Cat</a></p>
              </div>
              <div class="thumbnail">
                <img src="http://www.placekitten.com/200/150" alt="listing">
                <p align=center><a class="listing_name" href="{{ url_for('listing') }}">Stupid Cat</a></p>
              </div>

              


            
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>


    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% endblock %}

  </body>
</html>