<!DOCTYPE html>
{% extends 'header.html' %}

{% set categories = [
    ('index', 'Everything'),
    ('a_a', 'Apparel/Accessories'),
    ('appliances', 'Appliances'),
    ('books', 'Books'),
    ('electronics', 'Electronics'),
    ('furniture', 'Furniture'),
    ('mmg', 'Movies & Games'),
    ('tickets', 'Tickets'),
    ('other', 'Miscellaneous')
] -%}

{% block content %}

{% macro thumb(title, listing_id, price, image) -%}

<li class="span3">
  <div class="thumbnail">
    {% if image is not none %}
    <img src="{{url_for('get_image', listing_id=listing_id)}}" alt="image of {{title}}">
    {% else %}
    <img src="static/images/placeholder.png" alt="image of {{title}}">
    {% endif %}
    <a href="{{url_for('listing', listing_id=listing_id)}}"><h5 align="center">{{title}} - ${{price}}</h5></a>
    {#<p align=center><a class="listing_name" href="{{ url_for('listing', listing_id=listing_id) }}">{{title}}</a></p>#}
  </div>
</li>

{%- endmacro %}

<div class="container-fluid">
  <div class="row">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Categories</li>
          {% for url, name in categories %}
          <li {% if name == active %}class="active"{% endif %}><a href="{{url_for(url)}}">{{name}}</a></li>
          {% endfor %}
        </ul>
      </div> <!-- well -->
    </div> <!-- span3 -->
    <div class="span9">
      <div class="row-fluid">
        <ul class="thumbnails">
        {% set count=0 %}
        {% for listing in listings%}
        {{thumb(listing.title, listing.id, listing.price, listing.image)}}

        {% set count = count + 1 %}
        {% if count == 3 %}
        </ul>
      </div>
      <div class="row">
        <ul class="thumbnails">

      {% endif %}

        {% endfor %}

      </ul>
    </div>
    </div>
  </div>
</div>
{% endblock content %}
