<!DOCTYPE html>
{% extends 'header.html' %}

{% block content %}
<html>
    <head>
        <title>buy5c - new account</title>
    </head>
    <body>
        <div>
            <h1>new account</h1>
            <form action="{{ url_for('register') }}" method="POST"
                    class="search-box">
                     <input type="text" size="20" placeholder="Email" name="email">
                     <input type="password" size="20" placeholder="Password" name="password">
                     <input type="submit" value="Create Account">
            </form>
            
        </div>
    </body>
</html>
{% endblock %}