<!DOCTYPE html>
{% extends 'header.html' %}

{% block content %}
<div class="container createbox">
    <div class="row pull-left">
                <div class="span4">
                    <h3>Create a listing:</h3>
                    <form action="{{ url_for('sell') }}" method="POST" enctype="multipart/form-data">

                     <input class="createInput" type="text" size="60" placeholder="Title" name="title">

                     <input type="text" class="createInput price" size="8" placeholder="$" name="price">  

                     <textarea class="input-large createInput" rows="3" cols="120" placeholder="Description" name="description"></textarea>

                     <input type="file" name="image" id="fileInput" style="display:none;">
                     <input type="button" value="Upload Image" class="btn btn-large btn-block btn-primary" onclick="chooseFile();">

                    <select name="category">
                        <option value="">Category</option>
                        <option value="apparel">Apparel/Accessories</option>
                        <option value="appliances">Appliances</option>
                        <option value="books">Books</option>
                        <option value="electronics">Electronics</option>
                        <option value="furniture">Furniture</option>
                        <option value="movies">Movies, Music, Games</option>
                        <option value = "tickets">Tickets</option>
                        <option value="other">Other</option>
                    </select>

                    <input type="submit" id="createListing" style="display:none;">
                    <input type="button" value="Create Listing" class="btn btn-large btn-block btn-primary btn-create" onclick="createListing();">
                 </div>
             </div>
        </form>
    </div>
    {% endblock %}